{% load unicorn %}
<div class="">
    <div class="row align-items-stretch">
        {% if chatbots.length != 0 %}
        {% for chatbot in chatbots %}
        <div class="col-md-4 mb-5">
            <div
                class="card card-hero shadow mb-0 h-100 border-0 animated zoomIn chatbot hecon bg{{ chatbot.id|stringformat:'d'|last}}">
                <div class="card-header border-0">
                    <div class="card-icon">
                        <i class="fas fa-robot"></i>
                    </div>
                    <h4 class="text-line-o">{{ chatbot.name }}</h4>
                </div>
                <div class="card-body position-relative pt-1 hecon">
                    <div class="chatbot-btns">
                        <a href="{% url 'user:console' name=chatbot.name %}"
                            class="btn btn-icon btn-dark rounded-circle p-0 mx-1" data-toggle="tooltip"
                            data-trigger="hover" data-placement="bottom" data-original-title="Conversation Console"><i
                                class="fas fa-terminal"></i></a>
                        <button onclick="showChatbotSettings(event,{{ chatbot.id }})"
                            class="btn btn-icon btn-light rounded-circle p-0 mx-1" data-toggle="tooltip"
                            data-trigger="hover" data-placement="bottom" data-original-title="Preferences"><i
                                class="fas fa-tools"></i></button>
                        <button onclick="removeChatbot(event,'{{chatbot.name}}',{{ chatbot.id }})"
                            class="btn btn-icon btn-danger rounded-circle p-0 mx-1" data-toggle="tooltip"
                            data-trigger="hover" data-placement="bottom" data-original-title="Remove Chatbot"><i
                                class="far fa-trash-alt"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-md-4 mb-5">
            <div
                class="card card-hero position-relative shadow mb-0 h-100 border-0 chatbot  animated fadeIn hecon bg{{ nid }}">
                <div class="card-header border-0 h-100">
                    <div class="card-icon">
                        <i class="fas fa-robot"></i>
                    </div>

                </div>
                <div class="">
                    <h6 class="ml-3" style="position: absolute;bottom:5px;opacity: 0.5;color:white;">Create Chat Bot
                    </h6>
                    <div class="chatbot-new-btn">
                        <button unicorn:click="create" unicorn:loading.attr="disabled" unicorn:key="createKey"
                            class="btn btn-icon btn-lg btn-light rounded-circle p-0 mx-1" data-toggle="tooltip"
                            data-trigger="hover" data-placement="bottom" data-original-title="Create Chat Bot">
                            <i unicorn:loading.remove class="fas fa-plus"></i>
                            <i unicorn:loading class="fas fa-spinner fa-pulse"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chatbot-settings-wrapper">
        <div x-show.transition="open==true" x-on:click.away="open=false;refreshChatbotComponent()" class=""
            id="chatbot-settings" x-data="{open:false}">
            {% unicorn 'chatbot-settings' key='chatbot-settings-kjhgf' %}
        </div>
    </div>
</div>
