{% extends 'base.html' %}

{% load static %}

{% block title %}
Kingspin AI
{% endblock title %}

{% block content %}
<section class="slider-area ">
    <div class="sbg-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 288 288">
            <linearGradient id="PSgrad_0" x1="70.711%" x2="0%" y1="70.711%" y2="0%">
                <stop offset="0%" stop-color="#8E2DE2" stop-opacity="1" />
                <stop offset="100%" stop-color="#4A00E0" stop-opacity="1" />
            </linearGradient>
            <path fill="url(#PSgrad_0)">

                <animate repeatCount="indefinite" attributeName="d" dur="10s" values="M37.5,186c-12.1-10.5-11.8-32.3-7.2-46.7c4.8-15,13.1-17.8,30.1-36.7C91,68.8,83.5,56.7,103.4,45
                c22.2-13.1,51.1-9.5,69.6-1.6c18.1,7.8,15.7,15.3,43.3,33.2c28.8,18.8,37.2,14.3,46.7,27.9c15.6,22.3,6.4,53.3,4.4,60.2
                c-3.3,11.2-7.1,23.9-18.5,32c-16.3,11.5-29.5,0.7-48.6,11c-16.2,8.7-12.6,19.7-28.2,33.2c-22.7,19.7-63.8,25.7-79.9,9.7
                c-15.2-15.1,0.3-41.7-16.6-54.9C63,186,49.7,196.7,37.5,186z;
                
                
                M51,171.3c-6.1-17.7-15.3-17.2-20.7-32c-8-21.9,0.7-54.6,20.7-67.1c19.5-12.3,32.8,5.5,67.7-3.4C145.2,62,145,49.9,173,43.4
                c12-2.8,41.4-9.6,60.2,6.6c19,16.4,16.7,47.5,16,57.7c-1.7,22.8-10.3,25.5-9.4,46.4c1,22.5,11.2,25.8,9.1,42.6
                c-2.2,17.6-16.3,37.5-33.5,40.8c-22,4.1-29.4-22.4-54.9-22.6c-31-0.2-40.8,39-68.3,35.7c-17.3-2-32.2-19.8-37.3-34.8
                C48.9,198.6,57.8,191,51,171.3z;
                
                M37.5,186c-12.1-10.5-11.8-32.3-7.2-46.7c4.8-15,13.1-17.8,30.1-36.7C91,68.8,83.5,56.7,103.4,45
                c22.2-13.1,51.1-9.5,69.6-1.6c18.1,7.8,15.7,15.3,43.3,33.2c28.8,18.8,37.2,14.3,46.7,27.9c15.6,22.3,6.4,53.3,4.4,60.2
                c-3.3,11.2-7.1,23.9-18.5,32c-16.3,11.5-29.5,0.7-48.6,11c-16.2,8.7-12.6,19.7-28.2,33.2c-22.7,19.7-63.8,25.7-79.9,9.7
                c-15.2-15.1,0.3-41.7-16.6-54.9C63,186,49.7,196.7,37.5,186z	" />

            </path>

        </svg>
    </div>
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-11 col-md-12">
                        <div class="hero__caption text-center">
                            <h1 data-animation="bounceIn" data-delay="0.2s">AI That Puts Your Customers First</h1>
                            <p data-animation="fadeInUp" data-delay="0.4s">Upgrade your customer experience with
                                Kingspin’s Intelligent Virtual Assistants, driving ROI at every stage of the lifecycle
                            </p>
                            <a href="#" class="btn hero-btn" data-animation="fadeInUp" data-delay="0.7s">Get a Demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slider -->
        <div class="single-slider slider-height">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-11 col-md-12">
                        <div class="hero__caption text-center">
                            <h1 data-animation="bounceIn" data-delay="0.2s">
                                AI That Puts Your Customers First
                            </h1>
                            <p data-animation="fadeInUp" data-delay="0.4s">
                                Upgrade your customer experience with Kingspin’s Intelligent Virtual Assistants, driving
                                ROI at every stage of the lifecycle
                            </p>
                            <a href="#" class="btn hero-btn" data-animation="fadeInUp" data-delay="0.7s">Get a Demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- slider Area End-->
<div class="project-screen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="screen-img">
                    <img src="{% static 'img/gallery/screen.png' %}" alt="" class=" w-100">
                </div>
            </div>
        </div>
    </div>
</div>
<!--? Brand Area Start -->
<div class="brand-area">
    <h1 class="text-center font-italic font-weight-bold">Trusted by the World’s Leading Brands</h1>
    <div class="container">
        <div class="brand-active brand-border pt-50">
            <div class="single-brand m-3 brand-sh purple">
                <div><img src="{% static 'img/gallery/brand1.png' %}" alt=""></div>
            </div>
            <div class="single-brand m-3 brand-sh purple">
                <div><img src="{% static 'img/gallery/brand2.png' %}" alt=""></div>
            </div>
            <div class="single-brand m-3 brand-sh purple">
                <div><img src="{% static 'img/gallery/brand3.png' %}" alt=""></div>
            </div>
            <div class="single-brand m-3 brand-sh purple">
                <div><img src="{% static 'img/gallery/brand4.png' %}" alt=""></div>
            </div>
            <div class="single-brand m-3 brand-sh purple">
                <div><img src="{% static 'img/gallery/brand2.png' %}" alt=""></div>
            </div>
            <div class="single-brand m-3 brand-sh purple">
                <div><img src="{% static 'img/gallery/brand5.png' %}" alt=""></div>
            </div>
            <div class="single-brand m-3 brand-sh purple">
                <div><img src="{% static 'img/gallery/brand4.png' %}" alt=""></div>
            </div>
            <div class="single-brand m-3 brand-sh purple">
                <div><img src="{% static 'img/gallery/brand4.png' %}" alt=""></div>
            </div>
        </div>
    </div>
</div>
<!-- Brand Area End -->
<section class="" style="margin-top: 70px;">
    <div class="container-fluid">
        <div class="row text-center bg-light py-1">
            <div class="col-md-4 col-sm-12 shadow-sm pt-4">
                <div class="single-services d-flex flex-column align-items-center mb-30 text-center">
                    <div class="services-ion text-center">
                        <img style="object-fit: fit;width:100%;height:100px;"
                            src="{% static 'img/icon/services2.svg' %}" alt="">
                    </div>
                    <div class="services-cap" style="max-width:400px !important;">
                        <p>Featured as a recommended vendor in Emerging Technologies and Trends Impact Radar: AI in
                            Insurance</p>
                        <h5><a href="#">Read More</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 shadow-sm pt-4">
                <div class="single-services d-flex flex-column align-items-center mb-30 text-center">
                    <div class="services-ion text-center">
                        <img style="object-fit: fit;width:100%;height:100px;"
                            src="{% static 'img/icon/services2.svg' %}" alt="">
                    </div>
                    <div class="services-cap" style="max-width:400px !important;">
                        <p>Part of Jio Platforms Limited, the $65 billion Internet conglomerate backed by Google,
                            Facebook, and others</p>
                        <h5><a href="#">Read More</a></h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 shadow-sm pt-4">
                <div class="single-services d-flex flex-column align-items-center mb-30 text-center">
                    <div class="services-ion text-center">
                        <img style="object-fit: fit;width:100%;height:100px;"
                            src="{% static 'img/icon/services2.svg' %}" alt="">
                    </div>
                    <div class="services-cap" style="max-width:400px !important;">
                        <p>Featured as one of the Top 16 Solution Providers in Decision Maker’s Guide to Enterprise
                            Intelligent Assistants</p>
                        <h5><a href="#">Read More</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ach-counter" style="margin-top:70px;">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <h1>Pioneers in Conversational AI since 2013</h1>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="counter-ls">
                    <div class="counter-ls-con"><span class="counter-ls-value">3</span>B+</div>
                    <h3>Chat & Voice Interactions</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-ls blue">
                    <div class="counter-ls-con"><span class="counter-ls-value">145</span></div>
                    <h3>Live Implementations</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-ls magenta">
                    <div class="counter-ls-con"><span class="counter-ls-value">6</span></div>
                    <h3>Fortune 500 Customers</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-ls green">
                    <div class="counter-ls-con"><span class="counter-ls-value">100</span>M+</div>
                    <h3>Consumers Reached Globally</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!--? Our Services Start -->
<!-- <section class="our-services">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-80">
                        <h2>Finally focus on my marketing strategy and delegate</h2>
                        <p>In the old days, your website was the same for everyone. Not anymore. Experiences lets you adapt your website for every audience.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services mb-30">
                        <div class="services-ion">
                            <img src="{% static 'img/icon/services1.svg' %}" alt="">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Design & creatives</a></h5>
                            <p>The automated process starts as soon as your clothes go into.</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services mb-30">
                        <div class="services-ion">
                            <img src="{% static 'img/icon/services2.svg' %}" alt="">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Design & creatives</a></h5>
                            <p>The automated process starts as soon as your clothes go into.</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services mb-30">
                        <div class="services-ion">
                            <img src="{% static 'img/icon/services3.svg' %}" alt="">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Design & creatives</a></h5>
                            <p>The automated process starts as soon as your clothes go into.</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services mb-30">
                        <div class="services-ion">
                            <img src="{% static 'img/icon/services4.svg' %}" alt="">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Design & creatives</a></h5>
                            <p>The automated process starts as soon as your clothes go into.</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services mb-30">
                        <div class="services-ion">
                            <img src="{% static 'img/icon/services5.svg' %}" alt="">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Design & creatives</a></h5>
                            <p>The automated process starts as soon as your clothes go into.</p>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-6">
                    <div class="single-services mb-30">
                        <div class="services-ion">
                            <img src="{% static 'img/icon/services6.svg' %}" alt="">
                        </div>
                        <div class="services-cap">
                            <h5><a href="#">Design & creatives</a></h5>
                            <p>The automated process starts as soon as your clothes go into.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- Our Services End -->
<!--? About Area  -->
<section class="about-area2  section-bg2 ms-t">
    <div class="container">
        <div class="about-caption mb-50  text-center">
            <div class="about-icon">
                <img src="{% static 'img/icon/about.svg' %}" alt="">
            </div>
            <!-- Section Tittle -->
            <div class="section-tittle mb-25 text-center">
                <h2>Upgrade your Customer Experience with Conversational AI</h2>
            </div>
            <p class="mb-20 text-center">
                Here’s why the world’s most innovative brands are shifting to the Conversational Economy.</p>

        </div>

        <!-- about-img -->
        <div class="about-img ">
            <img src="{% static 'img/gallery/about2.png' %}" alt="">
        </div>

    </div>
</section></br> </br> </br>
<!-- About Area End -->
<!--? About Area  -->
<div style="background-color: #fffcf2;">
    <div class="container">

        <br><br><br>
        <div class="section-tittle mb-25 text-center">
            <h2>IVA: More than just a Chatbot or Voicebot</h2>
        </div>
        <p class="mb-20 text-center">
            kingspinai’s Intelligent Virtual Assistants (IVA) are built to understand industry and domain-specific
            context, solving specific problems end to end with the objective of improving CSAT & NPS.</p><br><br><br>
        <div class="row">

            <div class="col-md-4 text-center">
                <div class="thumbnail ">
                    <img src="{% static 'img/gallery/NLU-1.png' %}" alt="Lights" style="align-content: center">
                    <div class="caption"></br>
                        <div class="section-tittle mb-25 text-center">
                            <h1 style="font-weight: bold">Industry-specific AI</h1>
                        </div>
                        <p class="mb-20 text-sm-center">
                            Kingspinai’s natural language engine leverages the power of more than 3 billion interactions
                            to enable custom industry-specific AI models ensuring a truly intelligent and frictionless
                            user experience.
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/gallery/Analytics-1.png' %}" alt="Nature">
                    <div class="caption"></br>
                        <div class="section-tittle mb-25 text-center">
                            <h1 style="font-weight: bold ">Enterprise Smart Skills</h1>
                        </div>
                        <p class="mb-20 text-sm-center">
                            Ready to go with pre-trained use cases, Haptik’s library of hundreds of modular Smart Skills
                            ensures not only the fastest time to market but also deep, engaging conversations, superior
                            CX, and business conversions.
                    </div>

                </div>

            </div>

            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img src="{% static 'img/gallery/SmartSkills.png' %}" alt="Fjords">
                    <div class="caption"><br>
                        <div class="section-tittle mb-25 text-center">
                            <h1 style="font-weight: bold">Intelligent Analytics</h1>
                        </div>
                        <p class="mb-20 text-sm-center">
                            Real-time reporting of how users interact with your IVA and what's limiting their
                            experience, enabling continuously supervised and unsupervised improvement of the virtual
                            assistant.</p>
                        </br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Area End -->
<!--? About Area  -->

<div style="background-color: #f2f7fd">
    <br><br><br>
    <div class="container">
        <div class="section-tittle mb-25 text-center">
            <h2>Conversational AI Built for Scale</h2>
        </div>
        <p class="mb-20 text-center">
            Build on top of Haptik’s Plug and Play Conversational AI platform, select ready to deploy Smart Skills best
            suited for your industry vertical, integrate with your existing CRM systems, and drive higher business
            outcomes
            <br><br><br>
        <div class="about-img ">
            <img src="{% static 'img/gallery/coverstional al.png' %}" alt="" width="100%">
        </div>
    </div>
</div>
<!-- About Area End -->
<!--? About Area  -->
<br><br><br>
<div class="container">
    <div class="section-tittle mb-25 text-center">
        <h2>Driving ROI at every stage of the customer journey</h2>
    </div>
    <p class="mb-20 text-center">
        With over 7 years of experience in AI, we know what it takes to build impactful conversational experiences.
        We’ve helped businesses globally drive exciting results and grow exponentially in their digital transformation
        journey.
        <br><br><br>
    <div class="row" id="jou-counter">
        <div class="col-md-4 ">
            <div class="counter-ls blue">
                <div class="counter-ls-con">$<span class="counter-ls-value">3</span>M+</div>
                <h3 class="text-lowercase">In annual savings, along with reduced wait times of 6.2 seconds for the 3rd
                    largest telecom operator in the world.</h3>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="counter-ls magenta">
                <div class="counter-ls-con"><span class="counter-ls-value">5</span></div>
                <h3 class="text-lowercase">Days is all it took to build the world's largest WhatsApp Chatbot!</h3>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="counter-ls green">
                <div class="counter-ls-con"><span class="counter-ls-value">80</span>%</div>
                <h3 class="text-lowercase">Accuracy rate for Singapore’s largest telco provider with additional cost
                    savings with IVR deflection.</h3>
            </div>
        </div>
    </div>
</div>



<!-- video_end -->
<!--? Testimonial Area Start -->
<section class="testimonial-area fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <!-- Section Tittle -->
                <div class="section-tittle text-center">
                    <h2>Amazing customer review</h2>
                    <p>In the old days, your website was the same for everyone. Not anymore. Experiences lets you adapt
                        your website for every audience.</p>
                </div>
            </div>
        </div>
        <div class="testimonial-wrapper section-bg2 pt-135"
            data-background="{% static 'img/gallery/section_bg01.png' %}">
            <div class="row align-items-center justify-content-center">
                <div class=" col-lg-8 col-md-12 col-sm-9">
                    <div class="about-caption">
                        <!-- Testimonial Start -->
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption">
                                    <img src="{% static 'img/icon/quotes-sign.png' %}" alt="" class="quotes-sign">
                                    <p>Brook presents your services with flexible, convenient and cdpose layouts. You
                                        can select your favorite layouts & elements for cular ts with unlimited
                                        ustomization possibilities. Pixel-perfect replica;ition of thei designers ijtls
                                        intended csents your se.</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-text">
                                        <span>Robart Brown</span>
                                        <p>Creative designer at Colorlib</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption">
                                    <img src="{% static 'img/icon/quotes-sign.png' %}" alt="" class="quotes-sign">
                                    <p>Brook presents your services with flexible, convenient and cdpose layouts. You
                                        can select your favorite layouts & elements for cular ts with unlimited
                                        ustomization possibilities. Pixel-perfect replica;ition of thei designers ijtls
                                        intended csents your se.</p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">

                                    <div class="founder-text">
                                        <span>Robart Brown</span>
                                        <p>Creative designer at Colorlib</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--? Testimonial Area End -->
<!--? Want To work 01-->
<section class="wantToWork-area ">
    <div class="container">
        <div class="wants-wrapper w-padding2 section-bg2" data-background="{% static 'img/gallery/section_bg02.png' %}">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-7 col-lg-9 col-md-8">
                    <div class="wantToWork-caption text-center">
                        <h2>Drive Business Growth using Conversational AI</h2>
                        <a href="#" class="btn3 wantToWork-btn">Get A Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}