<nav>
    <ul id="navigation">                                                                                          
        <li class="active" ><a href="index.html">Home</a></li>
        <li><a href="features.html">Features</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="#">Blog</a>
            <ul class="submenu">
                <li><a href="blog.html">Blog</a></li>
                <li><a href="blog_details.html">Blog Details</a></li>
                <li><a href="elements.html">Element</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>