{% extends 'base.html' %}

{% load static %}

{% block title %}
Kingspin AI
{% endblock title %}

{% block content %}
    <br><br><br><br><br>
    <div class="container">
        <div class="section-tittle mb-25 text-center">
            <h2>Al That Understands Humans</h2>
        </div>
        <p class="mb-20 text-center">
            Industry AI models with domain-specific intelligence to accurately comprehend user intent and deliver contextual responses solving <br> problems end-to-end.
             <div class="about-img text-center ">
            <img src="{% static 'img/gallery/why image1.jpg' %}" alt="" width="40%" class=" whyimage1">
            </div>


        <br><br><br><br><br>
        <div class="section-tittle mb-25 text-center" >
            <h2>Holistic Conversational AI Solution</h2>
        </div>
        <p class="mb-20 text-center">
            Accelerate your AI journey with an all-inclusive  platform with in-built domain-specific natural language models, ready-to-deploy Smart Skills & Flexible Integrations that scale at a break-neck pace.
            <div class="about-img text-center ">
            <img src="{% static 'img/gallery/why image2.png' %}" alt="" width="2.5%" class="whyimage2">
            </div>


        <br><br><br>
        <div class="section-tittle mb-25 text-center">
            <h2>Platform</h2>
        </div>
        <p class="mb-20 text-center">
            Build intelligent virtual assistants (IVA) using our drag & drop conversation studio, handoff to smart agent chat for complex queries and analyze in real time how users interact with your IVA.
        <div class="about-img text-center">
            <img src="{% static 'img/gallery/why image3.png' %}" alt="" width="70%" class="whyimage3">
        </div>

        <br><br><br><br><br>
        <div class="section-tittle mb-25 text-center">
            <h2>Al That Understands Humans</h2>
        </div>
        <p class="mb-20 text-center">
            Industry AI models with domain-specific intelligence to accurately comprehend user intent and deliver contextual responses solving <br> problems end-to-end.
         <div class="about-img text-center">
            <img src="{% static 'img/gallery/why image4.png' %}" alt="" width="70%" class="whyimage4">
        </div>

        <br><br><br><br><br>
        <div class="section-tittle mb-25 text-center">
            <h2>Al That Understands Humans</h2>
        </div>a
        <p class="mb-20 text-center">
            Industry AI models with domain-specific intelligence to accurately comprehend user intent and deliver contextual responses solving <br> problems end-to-end.
         <div class="about-img text-center ">
            <img src="{% static 'img/gallery/why image5.png' %}" alt="" width="50%" class="whyimage1" >
        </div>


    <br><br><br><br>
    </div>

{% endblock content %}