{% extends "auth/base.html" %}
{% load widget_tweaks %}
{% block title %}Register &mdash;
KingspinAI {% endblock title %} 

{% block content %}

<div class="card card-primary">
  <div class="card-header">
    <h4>Register</h4>
  </div>
  <div class="card-body">
    <form method="POST">
      {%csrf_token%}

      <div class="row">
        <div class="form-group col-6">
          <label for="frist_name">First Name</label>
          {{form.name}}
        </div>
        <div class="form-group col-6">
          <label for="last_name">Last Name</label>
          {{form.lastname}}
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        {{form.email}}
        <div class="invalid-feedback"></div>
      </div>
      <div class="row">
        <div class="form-group col-5">
          <label for="password" class="d-block">Password</label>
          {{ form.password|add_class:"form-control" }}
        </div>
        <div class="form-group col-7">
          <label for="password2" class="d-block">Password Confirmation</label>
          {{ form.password2|add_class:"form-control" }}
        </div>
      </div>
      <div class="form-divider">Your Home</div>
      <div class="row">
        <div class="form-group col-6">
          <label>Country</label>
          {{form.country}}
        </div>
        <div class="form-group col-6">
          <label>Company</label>
          {{form.company}}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label>City</label>
          {{form.city}}
        </div>
        <div class="form-group col-6">
          <label>Postal Code</label>
          {{form.postalcode}}
        </div>
      </div>
      
          <label class="custom-control-label" for="agree"
            >I agree with the terms and conditions</label
          >
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block">
          Register
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
