{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--   Tue, 07 Jan 2020 03:33:27 GMT -->
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>
    {% block title %}
      
    {% endblock title %}
</title>

<!-- General CSS Files -->
<link rel="stylesheet" href="{% static 'user/modules/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'user/modules/fontawesome/css/all.min.css' %}">

<!-- CSS Libraries -->
<link rel="stylesheet" href="{% static 'user/modules/jqvmap/dist/jqvmap.min.css' %}">
<link rel="stylesheet" href="{% static 'user/modules/owlcarousel2/dist/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'user/modules/owlcarousel2/dist/assets/owl.theme.default.min.css' %}">

<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'user/css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'user/css/custom.css' %}">
<link rel="stylesheet" href="{% static 'user/css/components.min.css' %}">

{% block head %}
  
{% endblock head %}

</head>
<body class="layout-4">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        
        {% include "user/nav.html" %}

        {% include "user/sidebar.html" %}

        <!-- Start app main Content -->
        <div class="main-content">
            <section class="section">
                
                {% block content %}
                    
                {% endblock content %}
                    
            </section>
        </div>

        <!-- Start app Footer part -->
        <footer class="main-footer">
            <div class="footer-left">
                 <!-- <div class="bullet"></div>   --><a href="tinos.co.in"><i>Powered by Tinos Software & Security Solutions</i></a>
            </div>
            <div class="footer-right">
                
            </div>
        </footer>
    </div>
</div>

<!-- General JS Scripts -->
<script src="{% static 'user/bundles/lib.vendor.bundle.js' %}"></script>
<script src="{% static 'user/js/function.js' %}"></script>

<!-- JS Libraies -->
<script src="{% static 'user/modules/jquery.sparkline.min.js' %}"></script>

<script src="{% static 'user/modules/owlcarousel2/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'user/modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>

<!-- Page Specific JS File -->
<!-- <script src="{% static 'user/js/page/index.js' %}"></script> -->

<!-- Template JS File -->
<script src="{% static 'user/js/scripts.js' %}"></script>
<script src="{% static 'user/js/custom.js' %}"></script>

{% block script %}
  
{% endblock script %}

</body>

<!--   Tue, 07 Jan 2020 03:35:12 GMT -->
</html>