{% extends 'user/base.html' %}

{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}

<section class="section">
    <div class="row row-deck">
        <div class="col-md-12">
            <div class="card card-hero border-0 shadow">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-terminal"></i>
                    </div>
                    <h4>Conversation Console</h4>
                    <div class="card-description">Customize your Bot!</div>
                </div>
                <div class="">
                    <div class="bicon shadow-primary bg-primary">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
                <div class="card-body" style="height: 100vh;">
                   
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}