.counter-ls {
  color: #222;
  text-align: center;
  padding: 0 10px;
}

.counter-ls .counter-ls-con {
  color: #fd521e;
  font-size: 60px;
  font-weight: 600;
  display: block;
}
.counter-ls h3 {
  color: #555;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}

.counter-ls.blue .counter-ls-icon {
  background-color: #0073e6;
}
.counter-ls.blue .counter-ls-con {
  color: #0073e6;
}

.counter-ls.magenta .counter-ls-icon {
  background-color: #dd1c59;
}
.counter-ls.magenta .counter-ls-con {
  color: #dd1c59;
}

.counter-ls.green .counter-ls-icon {
  background-color: #47aa40;
}
.counter-ls.green .counter-ls-con {
  color: #47aa40;
}

@media screen and (max-width: 990px) {
  .counter-ls {
    margin-bottom: 40px;
  }
}

.single-brand img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.brand-sh {
  color: #222;
  font-family: "Rubik", sans-serif;
  text-align: center;
  width: 210px;
  height: 210px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 100px;
  position: relative;
  z-index: 1;
}
.brand-sh:before,
.brand-sh:after {
  content: "";
  background: linear-gradient(to right, #3da2f4, #1a57f2);
  height: 50%;
  width: 95%;
  border-radius: 120px 120px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform-origin: bottom;
}
.brand-sh:after {
  border-radius: 0 0 120px 120px;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  transform-origin: top;
}
.brand-sh.orange:before,
.brand-sh.orange:after {
  background: linear-gradient(to right, #eb9421, #ef6024);
}
.brand-sh.purple:before,
.brand-sh.purple:after {
  background: linear-gradient(to right, #8475b6, #483f90);
}
.brand-sh.purple .brand-sh-value {
  color: #483f90;
}
.brand-sh.green:before,
.brand-sh.green .brand-sh-value {
  color: #61bc47;
}
@media screen and (max-width: 990px) {
  .brand-sh {
    margin-bottom: 40px;
  }
}

.brand-sh > div {
  background-color: #fff;
  height: 100%;
  padding: 30px 12px;
  border-radius: 50%;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.brand-sh:hover::before,.brand-sh:hover::after{
    transform:rotate(-90deg) scale(1,1);
}
.brand-sh:before,
.brand-sh:after {
  transform: rotate(10deg) scale(0.9,0.9);
  transition: all 0.5s;
}
/* .brand-sh:before,
.brand-sh:after {
  animation: rotate-brand 5s ease-in-out infinite alternate;
}
@keyframes rotate-brand {
  0% {
    transform: rotate(0deg) scale(0.9, 0.9);
  }
  100% {
    transform: rotate(10deg) scale(0.95, 0.95);
  }
} */
.sbg-wrapper {
  text-align: center;
  position: absolute;
  top: 0;
}
.sbg-wrapper svg {
  margin: 0 auto;
  width: 60%;
  height: auto;
  animation: rotate-sbg 60s infinite linear alternate;
}
@keyframes rotate-sbg {
    0% {
      transform: rotate(0deg) scale(1,1);
    }
    100% {
      transform: rotate(360deg) scale(0.9,0.9);
    }
}

#top-bar{
  background-color: #cfcdcd77;
}

.ms-t{
  margin-top: 70px;
}

.ms-b{
  margin-bottom: 70px;
}