body.layout-4 .main-sidebar .sidebar-menu li.dlink.active>a{color:#3B3D55 !important}
.bicon{
    width: 50px !important;
    height: 50px !important;
    line-height: 22px !important;
    font-size: 22px !important;
    margin: 25px;
    border-radius: 3px;
    text-align: center;
    float: left;
}
.bicon>i{
    font-size: 22px !important;
    color: #fff;
}